<div class="login">
    <div class="login__wrapper">
        {%- form 'recover_customer_password', id: 'recover' -%}
            <div class="field__group">
                <label for="contact-phone" class="field__label">Email</label>
                <input
                  id="contact-phone"
                  type="email"
                  name="email"
                  value=""
                  class="field__input" />
              </div>
              <div class="field__group">
                <button type="submit" class="btn btn--primary btn--block">Submit</button>
              </div>
              <a href="#login">
                {{ 'customer.login_page.cancel' | t }}
              </a>
        {%- endform -%}
        {%- form 'customer_login', class: 'login__form', novalidate: 'novalidate' -%}
            {%- if form.posted_successfully? -%}
        <h2 class="main-contact__form--success">{% render 'icon-success' %} {{ 'templates.contact.form.post_success' | t }}</h2>
      {%- endif -%}
      <div class="field">
        <div class="field__group">
            <label for="contact-phone" class="field__label">Email</label>
            <input
              id="contact-phone"
              type="email"
              name="customer[email]"
              value=""
              class="field__input" />
          </div>
          {%- if form.password_needed -%}
          <div class="field__group">
            <label for="contact-phone" class="field__label">Password</label>
            <input
              id="contact-phone"
              type="email"
              name="customer[password]"
              value=""
              class="field__input" />
          </div>
        {%- endif -%}
        <div class="field__group">
        <a href="#recover">
            {{ 'customer.login_page.forgot_password' | t }}
          </a>
          </div>
        <div class="field__group">
          <button type="submit" class="btn btn--primary btn--block">Login</button>
        </div>
      </div>
        {%- endform -%}
        {%- if shop.checkout.guest_login -%}
        {%- form 'guest_login' -%}
          <div class="field__group">
              <button type="submit" class="btn btn--primary btn--block">Login as a guest</button>
            </div>
        {%- endform -%}
    {%- endif -%}
    </div>
</div>

<style>
    .login__wrapper{
        max-width: 600px;
        margin: 0 auto;
    }
    #recover{
        display: none;
    }
    #login:target{
        display: block;
    }
    #recover:target{
        display: block;
    }
    #recover:target+.login__form{
        display: none;
    }
</style>