<div class="main-contact">
  <div class="main-contact__wrapper">
    {%- form 'contact', class: 'main-contact__form' -%}
      {%- if form.posted_successfully? -%}
        <h2 class="main-contact__form--success">{% render 'icon-success' %} {{ 'templates.contact.form.post_success' | t }}</h2>
      {%- endif -%}
      <div class="field">
        <div class="field--flex">
          <div class="field__group field_group--half">
            <label for="contact-name" class="field__label">Name</label>
            <input
              id="contact-name"
              type="text"
              name="contact[Name]"
              value=""
              class="field__input" />
          </div>
          <div class="field__group field_group--half">
            <label for="contact-email" class="field__label">Email</label>
            <input
              id="contact-email"
              type="text"
              name="contact[email]"
              value=""
              class="field__input" />
          </div>
        </div>
        <div class="field__group">
          <label for="contact-phone" class="field__label">Phone number</label>
          <input
            id="contact-phone"
            type="text"
            name="contact[Phone number]"
            value=""
            class="field__input" />
        </div>
        <div class="field__group">
          <label for="contact-comment" class="field__label">Comment</label>
          <textarea
            id="contact-comment"
            name="contact[body]"
            id=""
            cols="30"
            rows="5"
            class="field__input field__input--area">{{- form.body -}}</textarea>
        </div>
        <div class="field__group">
          <button type="submit" class="btn btn--primary btn--block">Submit</button>
        </div>
      </div>
    {%- endform -%}
  </div>
</div>

<style>

  .main-contact {}
  .main-contact__wrapper {
    padding: 50px;
  }
  .main-contact__form {
    max-width: 600px;
    margin: 0 auto;
  }
</style>