<div class="main-404">
    <div class="main-404__wrapper">
        <p>{{ 'templates.404.subtext' | t }}</p>
        <h1 class="title">{{ 'templates.404.title' | t }}</h1>
        <a href="{{ routes.all_products_collection_url }}" class="button">{{ 'general.continue_shopping' | t }}</a>
      </div>
</div>

<style>
    .main-404{
        text-align: center;
    }
    .main-404__wrapper{
        padding: 50px;
    }
</style>