<div class="account-form">
  <div class="account-form__wrapper">
    <h1 class="account-form__title heading--underline">Reset account password</h1>
    {%- form 'reset_customer_password', class: 'account-form__form' -%}
      {%- if form.errors -%}
        <div class="account-form__validation">
          <p class="account-form--error">{% render 'icon-error' %} Please adjust the following:</p>
          {{ form.errors | default_errors }}
        </div>
      {%- endif -%}
      <div class="field">
        <div class="field__group">
          <label for="reset-email" class="field__label">Password</label>
          <input
            id="reset-email"
            type="password"
            name="customer[password]"
            value=""
            class="field__input {% if form.errors contains 'password' %}field__input--error{% endif %}"
            required />
        </div>
        <div class="field__group">
          <label for="reset-phone" class="field__label">Confirm password</label>
          <input
            id="reset-phone"
            type="password"
            name="customer[password_confirmation]"
            value=""
            class="field__input {% if form.errors contains 'password_confirmation' %}field__input--error{% endif %}"
            required />
        </div>
        <div class="field__group">
          <button type="submit" class="btn btn--primary btn--block">Submit</button>
        </div>
      </div>
    {%- endform -%}
  </div>
</div>