<div class="main-404">
  <div class="main-404__wrapper">
    <p class="main-404__title heading--underline">404</p>
    <h1 class="main-404__heading">Page not found</h1>
    <a class="main-404__link" href="{{ routes.all_products_collection_url }}">Continue shopping</a>
  </div>
</div>

<style>
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  #MainContent {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #shopify-section-{{ section.id}}{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .main-404 {
    text-align: center;
  }
  .main-404__wrapper {
    padding: 50px;
  }
  .main-404__title {}
  .main-404__heading {}
  .main-404__link {}
</style>