*{
    box-sizing: border-box;
}
body{
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6
{
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-weight: var(--font-heading-weight);
  letter-spacing: normal;
  color: inherit;
  fill: inherit;
  line-height: normal;
  word-break: break-word;
  font-size: var(--font-heading-size);
}
.heading--underline{
  text-decoration: underline;
  text-decoration-color: #c6e1d8;
  text-decoration-thickness: 12px;
  text-underline-offset: -8px;
  text-decoration-skip-ink: none;
}
p,a,ul,li,div,dl,article,section,button,label,input{
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
  letter-spacing: normal;
  color: inherit;
  fill: inherit;
  line-height: normal;
  word-break: break-word;
  font-size: var(--font-body-size);
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
svg{
  height: 18px;
}
/* a:empty,
ul:empty,
dl:empty,
div:empty,
section:empty,
article:empty,
p:empty,
h1:empty,
h2:empty,
h3:empty,
h4:empty,
h5:empty,
h6:empty {
  display: none;
} */
.btn{
  border: 1px solid;
  border-radius: 0;
  text-decoration: none;
  padding: 0 10px;
  min-width: 200px;
  max-width: 150px;
  width: 100%;
  height: 70px;
cursor: pointer;
}
.btn--primary{
  background-color: #4d4d3e;
  border-color: #4d4d3e;
  color: white; 
}
.btn--secondary{
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
}
.btn--secondary:hover{
  background-color: white;
  color: #4d4d3e;
}

.btn--block{
  display: block;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}


.account-form {
  padding: 50px 40px;
}
.account-form__wrapper{

}
.account-form__title {
  text-align: center;
  padding: 0 10px;
}
.account-form__subtitle{
  padding: 0 10px;
}
.account-form__form {
  max-width: 550px;
  margin: 0 auto;
}
.account-form--success{

}
.account-form--error{

}
.account-form__validation{
  padding: 0 10px;
  margin-bottom: 25px;
}
.account-form__validation svg{
  vertical-align: sub;
}
.account-form__validation .error{
  color: red;
}



.field {

}
.field--flex {
  display: flex;
  flex-wrap: wrap;
}
.field__group {
  margin-bottom: 25px;
  display: block;
  padding: 0 10px;
}
.field_group--half {
  width: 50%;
}
.field__label {
  display: block;
  margin-bottom: 15px;
}
.field__label--flex{
  display: flex;
  justify-content: space-between;
}
.field__input {
  height: 60px;
  font-size: 15px;
  outline: 0;
  padding: 10px;
  width: 100%;
  border: 1px solid black;
}
.field__input--error{
border-color: red;
}
.field__input--area {
  height: auto;
}

.text--center{
  text-align: center;
}

.login__wrapper {
  max-width: 600px;
  margin: 0 auto;
}
#recover {
  display: none;
}
#login:target {
  display: block;
}
#recover:target {
  display: block;
}
#recover:target + #login__form {
  display: none;
}



.main-page {}
.main-page__wrapper {
  padding: 50px;
  width: 100%;
}
.main-page__title {
  text-align: center;
}
.main-page__content {}
.margin--none{
  margin: 0;
}

@media screen and (max-width: 767px) {
  .account-form {
    padding: 30px 20px;
  }
}
